extends ../layout

block content
  h1= title
  h3= genre.name
  if genre_books.length > 0
    p #[strong 删除类别前先删除相应类别的书本]

    div(style='margin-left: 20px; margin-top: 20px')
      h4 Books
      dl
        each val in genre_books
          dt
            a(href=val.url) #{val.title}
          dd
            #{val.summary}
  else
    p 你确定删除当前分类吗？

    form(method="POST")
      div.form-group
        input#genreId.form-control(type='hidden',name='genreId', required='true', value=genre._id )

      button.btn.btn-primary(type='submit') Delete

          
         